
package-lock.json
.parcel-cache


# Node
node_modules
.env
.npmrc

# Parcel
.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode
.idea
.DS_Store

.github/workflows/publish.yml


src
scss
index.html
vite.config.js
.npmrc
assets
