._liesa-design-display-large {
  font-family: "Poppins";
  font-size: 57px;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

._liesa-design-display-medium {
  font-family: "Poppins";
  font-size: 45px;
  line-height: 52px;
  font-weight: 400;
  letter-spacing: 0px;
}

._liesa-design-display-small {
  font-family: "Poppins";
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0px;
}

._liesa-design-heading-large {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
}

._liesa-design-heading-medium {
  font-family: "Poppins";
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0px;
}

._liesa-design-heading-small {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0px;
}

._liesa-design-title-large {
  font-family: "Poppins";
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
}

._liesa-design-title-large-bold {
  font-family: "Poppins";
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0px;
}

._liesa-design-title-medium {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

._liesa-design-title-small {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

._liesa-design-label-large {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

._liesa-design-label-large-prominent {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

._liesa-design-label-medium {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

._liesa-design-label-medium-prominent {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

._liesa-design-label-small {
  font-family: "Poppins";
  font-size: 10px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

._liesa-design-label-small-prominent {
  font-family: "Poppins";
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

._liesa-design-label-extra-small {
  font-family: "Poppins";
  font-size: 8px;
  line-height: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

._liesa-design-body-large {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

._liesa-design-body-medium {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

._liesa-design-body-medium-prominent {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

._liesa-design-body-small {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

/*# sourceMappingURL=checkbox.css.map */
